.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: Helvetica;
  font-weight: bolder;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}

img {
  filter: invert(100%);
}

.userChoice p {
  color: orange;
}

.computerChoice p {
  color: blue;
}

.printedResult p {
  color: red;
}
