.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-weight: bolder;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}

img {
  filter: invert(100%);
  length: 500px;
  width: 250px;
}

p {
font-size: 15px;
}

.userChoice p {
  color: orange;
}

.computerChoice p {
  color: blue;
}

.printedResult p {
  font-size: 14px;
  color: red;
}

